@import '../../styles/variables.scss';

.list-posts {
  width: $container-width;
  margin: 0 auto;
}
.sorting-and-categories-wrapper {
  display: flex;
}

.navigation-categories {
  list-style: none;
  text-align: right;
  margin: 0 0 0 auto;
  padding: 0;
  &-item {
    font-size: 0.8rem;
    margin: 0;
    padding: 0 1rem 0 0;
    text-transform: uppercase;
    display: inline-block;
  }
}
