@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.linebreak {
  width: 100%;
  height: 1px;
}

.form-wrapper {
  width: 100%;
  > .text-input-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    &:not(:first-child) {
      margin: 0.5rem 0;
    }
  }
  input, textarea {
    width: 100%;
    border: 2px solid $gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
    &:valid {
      // Hides the label
      background: white;
    }
    &:focus {
      border-color: #f06d06;
    }
    &:focus + label {
      background: #f06d06;
      color: white;
      font-size: 70%;
      padding: 1px 6px;
      z-index: 2;
      text-transform: uppercase;
    }
  }
  label {
    transition: // not padding
            background 0.2s,
            color 0.2s,
            top 0.2s,
            bottom 0.2s,
            right 0.2s,
            left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
  }
  textarea {
    display: block;
    height: 6rem;
  }
}

.form-wrapper.go-bottom {
  input, textarea {
    padding: 12px 12px 12px 12px;
  }
  label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  input:focus, textarea:focus {
    padding: 4px 6px 20px 6px;
  }
  input:focus + label, textarea:focus + label {
    top: 100%;
    margin-top: -16px;
  }
}

.post, .post-edit {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: $container-width;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
  &-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
  }
  &-pencil-icon, &-trash-icon {
    margin-left: auto;
    color: $primary;
  }
  &-pencil-icon:hover, &-trash-icon:hover {
    color: $primary-hover;
    cursor: pointer;
  }
  &-author {
    margin: 2rem 0;
    width: 100%;
    font-weight: 400;
    font-style: italic;
  }
  &-body {
    width: 100%;
  }
}

.form-buttons {
  display: flex;
  .submit-button {
    cursor: pointer;
    color: $primary;
    border: 2px solid $primary;
    &:hover {
      color: $primary-hover;
      border: 2px solid $primary-hover;
    }
  }
  .cancel-button {
    cursor: pointer;
    .post-edit > .form-wrapper > & {
      margin-left: 1rem;
    }
  }
}

.post-details-header {
  display: grid;
  grid-template-columns: 20px 20px 430px 40px;
  grid-template-rows: 40px;
  grid-column-gap: 20px;
  align-items: center;
  > label, span {
    line-height: 40px;
  }
  & .post-trash-icon {
    margin-left: 0.5rem;
  }
}