@import '../../../styles/variables';
.post-list-item-container {
  display: grid;
  width: $container-width;
  grid-template-columns: 20px 20px 430px 40px;
  grid-template-rows: 40px;
  grid-column-gap: 20px;
  border-bottom: 1px solid #eee;
  margin: 1rem auto;
  > label, span {
    line-height: 40px;
  }
  & .post-trash-icon {
    margin-left: 0.5rem;
  }
}


